<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network: required to talk to Instagram. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Reading & writing files under Downloads/ on Android 10+ uses
         MediaStore (no permission needed). On Android 9 and below
         we need WRITE_EXTERNAL_STORAGE for the Downloads/ folder. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".InstaDownApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaDown"
        android:usesCleartextTraffic="false"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InstaDown">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Share-receiver: appear in the Android share sheet when
                 a user shares text from Instagram (or anywhere). The
                 action is android.intent.action.SEND, mime text/*.
                 We read the URL out of EXTRA_TEXT. -->
            <intent-filter android:label="@string/share_target_label">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/login_title"
            android:theme="@style/Theme.InstaDown" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:theme="@style/Theme.InstaDown" />
    </application>
</manifest>
